@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Pacifico&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    position: relative;
    overflow-x: hidden;
}

.header {
    height: 600px;
    background: #1E5AFA;
    color: #FAFAFA;
    padding: 20px 80px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header header {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}


.header header.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow-y: auto;
    background-color: #011037;
    transition: 0.5s;
    z-index: 3;
    box-shadow: 1px 3px 2px lightgrey;
    padding: 5px 20px;
}

.header header .fa-bars {
    display: none;
    font-size: 25px;
    margin-left: 15px;
    cursor: pointer;
    border: 1px solid #E7EBEE;
    height: 30px;
    width: 30px;
    text-align: center;
    padding-top: 1.5px;
    color: #E7EBEE;
}

.header header nav {
    display: flex;
    margin-right: auto;
}

.header header nav li {
    display: flex;
    list-style-type: none;
    cursor: pointer;
    margin-right: 30px;
    font-family: 'Inter';
    line-height: 22px;
    font-size: 15px;
    font-weight: 400px;
}

.header header nav li:last-child {
    margin-right: 0px;
}

.header header nav li a {
    text-decoration: none;
    color: #FAFAFA;
}

.header header h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    margin-right: 110px;
}

.header header .login-signup {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header header .login {
    background: none;
    border: none;
    font-size: 15px;
    color: #FAFAFA;
}

.header header .sign-up {
    background: #FAFAFA;
    border: none;
    padding: 10px 35px;
    border-radius: 5px;
    margin-left: 8px;
}

.header header .sign-up:hover {
    background: #fffcff;
    color: #1E5AFA;
}

.header .icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 25px;
    left: 80px;
}

.header .icons i {
    margin-bottom: 35px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: center;
    margin-right: 25px;
}

.header .icons i:hover {
    color: #1E5AFA;
    background: #FAFAFA;
    padding: 5px;
    border-radius: 50%;
}

.header .header-body {
    text-align: center;
    width: 600px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.header .header-body h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 100%;
    text-align: center;
    color: #FAFAFA;
    padding: 0px 20px;
    margin-bottom: 30px;
}

.header .header-body p {
    margin-bottom: 10px;
}

.header .three-pixs {
    height: 550px;
    width: 880px;
    position: absolute;
    top: 60%;
    left: 15%;

}

.testimonial-words {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
}

.about {
    padding: 20px 80px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.about .stretch {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    width: 600px;
}

.about .decoratortop {
    position: absolute;
    right: 0;
    top: 15%;
    height: 200px;
}


.about .decoratortop2 {
    position: absolute;
    left: 0;
    top: 5%;
    height: 200px;
    transform: rotate(180deg);
}
.about .download-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
    margin-bottom: 0px;
}

.download-button img {
    width: 300px;
    height: 200px;
}

.about h2,
.clients h2,
.testimonials h2,
.faq h2 {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 100%;
    letter-spacing: -3px;
    color: #313131;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about h2 {
    margin-top: 0px;
}

.about .about-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
    flex-wrap: wrap;
}

.about .about-image > * {
    flex: 1 1 20rem;
}

.about .about-image .first-aboutslide {
    position: relative;
    /* width: 50%; because i have used flex basis*/
}

.first-single {
    height: 620px;
    width: 500px;
    position: absolute;
    bottom: -170px;
    right: 25%;
}

.about .about-image .words-about {
    width: 50%;
    padding: 70px;
}

.about .about-image .first-aboutslide .blue-div {
    width: 80%;
    height: 282px;
    background: #1E5AFA;
    border-radius: 10px;
    margin: 110px 0px 0px 45px;
}

.about .about-image .words-about .about-home-words {
    color: #000000;
    font-family: 'inter';
    font-size: 28px;
    margin: 15px 0px;
}

.about .about-image .words-about a {
    background: none;
    border: 1px solid #000F37;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #000F37;
    margin-top: 35px;
    text-decoration: none;
    padding: 10px 25px;
}

.about .about-image .words-about:hover a {
    background: #000F37;
    border: 1px solid #000F37;
    box-shadow: 0px 100px 80px rgba(56, 56, 56, 0.1), 0px 64.8148px 46.8519px rgba(56, 56, 56, 0.0759259), 0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407), 0px 20px 13px rgba(56, 56, 56, 0.05), 0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593), 0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741);
    border-radius: 5px;
    color: #FAFAFA;
}

.clients,
.testimonials,
.faq {
    display: flex;
    flex-direction: column;
    padding: 20px 80px;
    margin-top: 35px;
    position: relative;
}

.clients-p {
    text-align: center;
    width: 115ch;
    margin: auto;
    margin-bottom: 30px;
}

.clients .logo-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0px 35px 0px;
}

.clients .logo-box > * {
    flex: 1 1 15rem;
    margin: 5px;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(49, 49, 49, 0.05);
    border-radius: 10px;
    display: flex;
}

.clients .logo-box .client-logo img {
    margin: auto;
}

.testimonials .testimonials-box {
    display: flex;
    flex-wrap: wrap;
}

.testimonials .testimonials-box > * {
    flex: 1 1 25rem;
    background: #FAFAFA;
    border: 1px solid #E7EBEE;
    border-radius: 10px;
    margin: 5px;
    padding: 20px;
}

.testimonials .testimonials-box .testimonial-container:hover {
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(49, 49, 49, 0.05);
}

.testimonials .box-image-name {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.testimonials .box-image-name  .box-image {
    margin-right: 15px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.testimonials .testimonial-container .testimonial-words-box {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #5F7285;
}

.testimonials .box-image-name .name-title .name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #1B263D;
}

.testimonials .box-image-name .name-title .title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #9C9EA3;
}

.faq .stretch2 {
    position: absolute;
    top: 0%;
    left: 50%;
    z-index: -1;
    width: 600px;
}

.faq h2 {
    margin-top: 120px;
}

.faq .faq-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    cursor: pointer;
}

.faq .faq-container .faq-head {
    text-align: center;
    background: #E7EBEE;
    font-size: 20px;
    padding: 20px;
}

.faq .faq-container .fa.fa-plus {
    color: blue;
    float: left;
}

.faq .faq-container .fa.fa-minus {
    color: red;
    float: left;
}

.faq .faq-container .faq-content {
    padding: 25px;
    line-height: 25px;
    text-align: justify;
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 20px 95px rgba(201, 203, 204, 0.3);
    border-radius: 10px;
}

.faq .faq-container .faq-content.faq-show {
    display: none;
}

.download {
    display: flex;
    align-items: center;
    padding: 20px 80px;
    justify-content: space-between;
}

.single-pixs {
    height: 710px;
    width: 600px;
}

.download .firstslide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

}

.download .firstslide h2 {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 100%;
    letter-spacing: -3px;
    color: #313131;
    width: 3ch;
}

.download .firstslide .download-button {
    display: flex;
}

.download .firstslide .download-button > * {
    margin: 0px;
    margin-left: -65px;
}

.download .secondslide {
    float: right;
}

.download-words-app {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #575757;
    line-height: 20px;
    margin: 30px 0px;
}

.newsletter {
    display: flex;
    position: relative;
    margin: 20px 80px;
    background: #1E5AFA;
    border-radius: 10px;
    padding: 40px 20px;
    align-items: center;
}

.decoratortop3 {
    position: absolute;
    right: 0;
    bottom: -30%;
    height: 200px;
    transform: rotate(0deg); 
    background: rgba(0,0,0,o.5);
    z-index: -1; 
}

.newsletter .firsthalf h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #FDFDFF;
}

.newsletter .firsthalf .subscribe-words {
    line-height: 22px;
    color: #F5F2FF;
    text-align: justify;
    width: 100%;
    margin-top: 14px;
}

.newsletter .subscribe-button {
    width: 50%;
    display: flex;
}

.newsletter .subscribe-button .get-started {
    background: none;
    border: 1px solid #FAFAFA;
    filter: drop-shadow(0px 100px 80px rgba(56, 56, 56, 0.1)) drop-shadow(0px 64.8148px 46.8519px rgba(56, 56, 56, 0.0759259)) drop-shadow(0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407)) drop-shadow(0px 20px 13px rgba(56, 56, 56, 0.05)) drop-shadow(0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593)) drop-shadow(0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741));
    border-radius: 5px;
    margin: auto;
    padding: 24px 60px;
    font-family: 'inter';
    color: #FAFAFA;
    font-size: 18px;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
}

footer .footer-container {
    display: flex;
    padding: 20px 80px;
}

footer .footer-container > * {
    margin-right: 65px;
}

footer .footer-container:last-child {
    margin-right: 0px;
}

footer .footer-container .second-div,
footer .footer-container .third-div {
    list-style-type: none;
    line-height: 25px;
}

.smart-home {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    margin-right: 110px;
}

footer .footer-container .first-div {
    width: 350px;
}

footer .footer-container .first-div .testimonial-words-footer {
    text-align: justify;
    line-height: 25px;
    margin-top: 35px;
}

footer .first-div .input-mail {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    align-items: center;
}

footer input {
    background: #FAFAFA;
    border: 1px solid #E7EBEE;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #575757;
    padding: 10px 20px;
}

footer .first-div .input-mail .register {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #011037;
    border: 1px solid #011037;
    border-radius: 5px;
    padding: 10px 20px;
    background: none;

}

footer .second-div h3,
footer .third-div h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #2E2E2E;
    margin-bottom: 55px;
}

footer .second-div li,
footer .third-div li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #575757;
    margin-bottom: 11px;
}

footer .second-div li:hover,
footer .third-div li:hover {
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
}

footer .footer-end {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #FAFAFA;
    text-align: center;
    background: #000F37;
    padding: 20px;
}

/* scroll down button */
.zigzag{
    display: flex;
    position: fixed;
    right: 80px;
    top: 580px;
    z-index: 2;
    width: 100px;
    background: rgba(255,255,255,.3);
}

.zigzag .zigzags {
    height: 80px;
    z-index: -1;
    position: absolute;
}

.zigzag .scroll {
    width: 120px;
    margin-right: 120px;
    margin-top: 15px;

}


/* media queries */
@media only screen and (max-width:720px) {
    .about,
    .clients,
    .testimonials,
    .download,
    .faq,
    .footer-container {
        padding: 0px 10px;
        position: relative;
    }
    .header {
        padding: 0px;
        display: flex;
        flex-direction: column;
        height: 100vh;
        transition: 0.6s;
    }
    .header header {
        justify-content: space-between;
        position: relative;
        height: 60px;
        padding: 0px 5px;
        width: 100%;
    }
    .header header.fixed-top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        overflow-y: auto;
        background-color: #FFFFFF;
        transition: 0.5s;
        z-index: 3;
        box-shadow: 1px 3px 2px lightgrey;
        padding: 2px;
        transition: 0.6s;
    }
    .header header .fa-bars{
        display: block;
    }
    .header header nav{
        display: none;
    } 
    .header header nav.tabs {
        position: fixed;
        top: 60px;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #FAFAFA;
        height: 100vh;
        width: 100%;
        z-index: 3;
        transition: 0.6s;
    }
    .header header nav li a {
        text-decoration: none;
        color: #1B263D;
        padding-left: 20px;
        margin: 15px;
        font-size: 20px;
    }
    .header header.fixed-top .login,
    .header header.fixed-top .header-smarthome {
        color: #000000;
    }
    .header header.fixed-top .fa-bars {
        border: 1px solid #1B263D;
        color: #1B263D;
    }
    .header header .sign-up {
        background: #FAFAFA;
        border: none;
        padding: 7px 25px;
        border-radius: 5px;
        margin-left: 8px;
    }
    .header .header-body {
        padding: 0px 10px;
        margin: 10%;
        width: 80%;
    }
    .header .header-body h1 {
        font-size: 55px;
        width: 300px;
        padding: 0px;
        margin: auto;
    }
    .header .icons {
        display: none;
        visibility: visible;
        flex-direction: row;
        position: fixed;
        top: 280px;
        left: 35px;
        color: #1E5AFA;
        z-index: 3;
        height: 100vh;
        width: 100%;
        transition: 0.6s;
    }
    .header .iconshow {
        display: flex;
        visibility: visible;
        flex-direction: row;
        position: fixed;
        top: 280px;
        left: 35px;
        color: #1E5AFA;
        z-index: 3;
        transition: 0.6s;
    }
    .header .icons i {
        font-size: 25px;
        margin: 25px 25px 25px 0px ;
    }
    .header .icons i:hover {
        color: #2E2E2E;
    }
    .header .three-pixs {
        position: absolute;
        width: 80%;
        height: auto;
        left: 12%;
        bottom: 15%;
    }
    .about .stretch {
        width: 400px;
        height: 500px;
    }
    .testimonial-word {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        line-height: 20px;
        margin: 20px 0px;
        text-align: center;
    }
    .testimonial-words {
        font-family: 'inter', sans-serif;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 20px;
        width: 80%;
        margin: 10%;
        margin-left: 0px;
    }
    .about .stretch {
        position: absolute;
        top: 0;
        left: 5%;
        z-index: -1;
        width: 100px;
    }
    .faq .stretch2 {
        position: absolute;
        top: 0%;
        left: 2%;
        z-index: -1;
        width: 100px;
        height:50px;
    }
    .about .download-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        margin-bottom: 0px;
        margin-left: 20px;
    }
    .download-button img {
        width: 200px;
        height: 150px;
    }
    .about h2,
    .clients h2,
    .testimonials h2,
    .faq h2 {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -3px;
    color: #313131;
    margin-bottom: 10px;
    }
    .about h2 {
        margin-top: -40px;
    }
    .about .about-image {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 40px 0px;
        flex-wrap: wrap;
    }
    .first-single {
        height: 420px;
        width: 400px;
        position: absolute;
        bottom: -120px;
        right: 25%;
    }
    .about .about-image .first-aboutslide .blue-div {
        width: 60%;
        height: 202px;
        background: #1E5AFA;
        border-radius: 10px;
        margin: 90px 0px 0px 125px;
    }
    .clients-p {
        text-align: center;
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
    }
    .download {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        justify-content: space-between;
    }
    .single-pixs {
        height: 510px;
        width: 450px;
        margin-left: -185px;
    }
    .download .firstslide h2 {
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 100%;
        letter-spacing: -3px;
        color: #313131;
        width: 3ch;
    }
    .download .firstslide .download-button > * {
        margin: 0px;
        margin-left: -35px;
    }
    .newsletter {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 10px;
        background: #1E5AFA;
        border-radius: 10px;
        padding: 20px;
    }
    .newsletter .firsthalf h3 {
        font-weight: 550;
        font-size: 30px;
        line-height: 50px;
    }
    .newsletter .firsthalf .subscribe-words {
        margin-top: 14px;
        width: 100%;
        margin-left: 0px;
    }
    .newsletter .subscribe-button {
        width: 100%;
    }
    .newsletter .subscribe-button .get-started {
        margin: 10px 0px;
        padding: 15px 25px;
    }
    footer .footer-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    footer .footer-container > * {
        margin: 20px 15px;
    }
    footer .second-div h3,
    footer .third-div h3 {
        margin-bottom: 35px;
    }
    footer .footer-end {
        font-size: 18px;
        padding: 15px;
    }
    .zigzag{
        right: -5px;
        height: 200px;
        border-radius: 20%;
        width: 50px;
        background: rgba(0,0,0,.0);
    }
    
    .zigzag .zigzags {
        height: 40px;
        z-index: -1;
        position: absolute;
        right: 0%;
    }

    .zigzag .scroll {
        width: 100px;
        margin-left: -50px;
        margin-top: 15px;

    }
}